<!-- HEADER HERO -->
<header class="header header--atleticas" id="inicio">
  <div class="header__logo-box">
    <a href="/">
      <svg aria-label="Boa Vista Party" class="header__logo">
        <use xlink:href="/assets/img/sprite.svg#icon-white"></use>
      </svg>
    </a>
  </div>
  <div class="header__text-box header__text-box--arrow">
    <div class="heading-primary">
      <h2 class="heading-secondary--white u-text-center">
        DASHBOARD
      </h2>
    </div>
    <p class="scroll-down">
      <a href="#atleticas" class="scroll-down__arrow">
        Party
      </a>
    </p>
  </div>
</header>
<main>
  <section class="section-about" id="atleticas">
    <div class="container--flex">
      <div class="feature-box">
        <svg aria-label="" class="feature-box__icon">
          <use xlink:href="/assets/img/sprite.svg#atleticas"></use>
        </svg>
        <h3 class="feature-box__heading u-margin-bottom-small">
          Atléticas
        </h3>
        <p class="feature-box__text">
          Cadastrar atléticas
        </p>
        <a href="/admin/atleticas" class="btn btn--color">
          Acessar!
        </a>
      </div>
      <div class="feature-box">
        <svg aria-label="" class="feature-box__icon">
          <use xlink:href="/assets/img/sprite.svg#eventos"></use>
        </svg>
        <h3 class="feature-box__heading u-margin-bottom-small">
          Eventos
        </h3>
        <p class="feature-box__text">
          Cadastrar eventos
        </p>
        <a href="/admin/eventos" class="btn btn--color">
          Acessar!
        </a>
      </div>
      <div class="feature-box">
        <svg aria-label="" class="feature-box__icon">
          <use xlink:href="/assets/img/sprite.svg#parceiros"></use>
        </svg>
        <h3 class="feature-box__heading u-margin-bottom-small">
          Parceiros
        </h3>
        <p class="feature-box__text">
          Cadastrar parceiros
        </p>
        <a href="/admin/parceiros" class="btn btn--color">
          Acessar!
        </a>
      </div>
    </div>
  </section>
</main>
