<footer class="footer">
  <div class="container">
    <div class="footer__logo-box">
      <img src="/assets/img/logo-color.svg" alt="Boa Vista Party Logo" class="footer__logo" />
    </div>
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item">
              <a href="/" class="footer__link">
                Inicio
              </a>
            </li>
            <li class="footer__item">
              <a href="/atleticas" class="footer__link">
                Atleticas
              </a>
            </li>
            <li class="footer__item">
              <a href="/eventos" class="footer__link">
                Eventos
              </a>
            </li>
            <li class="footer__item">
              <a href="#popup-contato" class="footer__link">
                Contato
              </a>
            </li>
            <li class="footer__item">
              <a href="#popup-login" class="footer__link">
                Login
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <p class="footer__copyright">
          © 2019 - 2020 Developed with ❤️ by
          <a href="https://www.facebook.com/otallyto" class="footer__link">
            Tállyto Rodrigues
          </a>
          FullStack Developer with collaboration from
          <a href="http://wdsnext.netlify.com/" class="footer__link">
            WDS NEXT
          </a>
          Front-End Developer/UI.
        </p>
        <a href="https://www.facebook.com/otallyto">
          <img
            src="https://avatars3.githubusercontent.com/u/28845658?s=460&v=4"
            alt="Tállyto Rodrigues"
            class="footer__logo-dev"
          />
        </a>
        <a href="http://wdsnext.netlify.com/">
          <img
            src="https://wdsnext.netlify.com/assets/img/wdsnextbrand-circle@1x.png"
            alt="WDS NEXT"
            class="footer__logo-dev"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
