{{#if success_msg}}
<script>


  $(document).ready(function() {
  const toastHTML =
    '
  <p>
    {{success_msg}}
  </p>
  <div class="toast-action toast-action--success"></div>
  ';
  M.toast({
    html: toastHTML,
    inDuration: 400,
    displayLength: 5000
  });
  </script>
});

{{/if}}
{{#if error_msg}}
<script>
  $(document).ready(function() {
  const toastHTML =
    '
  <p>
    {{error_msg}}
  </p>
  <div class="toast-action toast-action--cancel"></div>
  ';
  M.toast({
    html: toastHTML,
    inDuration: 400,
    displayLength: 5000
  });
});
</script>
{{/if}}
