<div>
  <header class="header header--arrow" id="inicio">
    <div class="header__logo-box">
      <a href="/">
        <svg aria-label="Boa Vista Party" class="header__logo">
          <use xlink:href="/assets/img/sprite.svg#icon-white"></use>
        </svg>
      </a>
    </div>
    <div class="header__text-box header__text-box--arrow">
      <div class="heading-primary">
        <h2 class="heading-secondary--white u-text-center">
          404 Not Found
        </h2>
      </div>
      <p class="scroll-down">
        <a href="#not-found-page" class="scroll-down__arrow">
          Party
        </a>
      </p>
    </div>
  </header>
  <main>
    <section class="section-404" id="not-found-page">
      <div class="container">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="not-found-page">
              <h2 class="heading-secondary u-text-center">
                Desculpe. Página solicitada não encontrada!
              </h2>
              <svg aria-label="" class="not-found-page__image">
                <use xlink:href="/assets/img/sprite.svg#404"></use>
              </svg>
              <a href="/" class="btn btn--color u-text-center">
                Voltar
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
